.divBdyCoord {
  background-color: #222831;
  margin: 0;
  height: 100vh;
  margin-top: -117px;
  padding: 1%;
}

.additon {
  height: 50vh;
  padding: 1%;
  margin: 0;
  margin-bottom: 3%;
  overflow-y: auto;
}
.coord-form-body {
  margin-left: 8%;
}
.coord-panel {
  color: #00adb5;
}
.coord-form,
.coord-form-name {
  margin: 1%;
  padding: 1%;
  width: 30%;
  border-radius: 10px;
  background-color: #393e46;
  border: 1px #00adb5 solid;
  color: #eeeeee;
}
.coord-form-name {
  width: 15%;
}
.coord-drop {
  padding: 1%;
  border-radius: 10px;
  background-color: #393e46;
  border: 1px #00adb5 solid;
  color: #eeeeee;
}
.coord-btn {
  width: 10%;
  padding: 1%;
  border-radius: 10px;
  background-color: #00adb5;
  border: 1px #eeeeee solid;
  color: #eeeeee;
  font-weight: bold;
  margin-left: 3%;
}
.coord-btn:hover {
  background-color: #eeeeee;
  color: #00adb5;
  border: 1px #00adb5 solid;
  font-size: medium;
  cursor: pointer;
}

.title-invites {
  color: #00adb5;
}

.invitated-panel,
.accepted-panel {
  color: #00adb5;
  width: 50%;
  margin-left: 26%;
}

.invites {
  padding: 2% 3%;
  width: 95%;
  background-color: #393e46;
  margin: 1%;
  border-radius: 10px;
  border: 1px #00adb5 solid;
}
.name-invites {
  width: 50%;
  padding: 0;
  float: left;
  font-weight: bold;
}
.right-invites {
  width: 50%;
  float: right;
}

.btn-invites {
  margin-left: 50%;
  background-color: #f48484;
  border: 1px #222831 solid;
  color: #222831;
  padding: 2%;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 1%;
}
.btn-invites:hover {
  background-color: #eeeeee;
  color: #f48484;
}

.timestamp {
  float: right;
  color: #eeeeee;
  opacity: 0.5;
  margin-top: 2%;
  /* margin-left: 2px; */
  /* background-color: #f48484; */
}

.coordName {
  background-color: #393e46;
  border-radius: 10px;
  border: 1px #00adb5 solid;
  width: 95%;
  margin: 1%;
  padding: 2%;
  cursor: pointer;
  font-weight: bold;
  height: 100%;
  text-align: justify;
}

.coordName:hover {
  background-color: #eeeeee;
  font-weight: bold;
  font-size: large;
}

.img-arrow {
  margin: 0;
  width: 30px;
  height: 20%;
  float: right;
  padding: 1%;
}

.img-arr {
  width: 100%;
  height: 100%;
}

.img-arrow-left {
  width: 30px;
  height: 5%;
  float: left;
  cursor: pointer;
}

.assignPannel {
  width: 100%;
  padding-left: 0;
  margin-left: -2%;
  position: absolute;
}
.coordDeets {
  padding: 1%;
  border-radius: 10px;
  width: 90%;
  margin-left: 5%;
  background-color: #eeeeee;
  box-shadow: 5px 5px 10px #0f1010;
  color: #393e46;
}

.title-coord {
  /* margin-left: 2%;
  margin-top: 0; */
  padding: 1%;
  font-weight: bold;
  text-align: justify;
  width: 30%;
  font-size: larger;
  color: #222831;
  float: left;
}

.coordEmail {
  width: 40%;
  float: left;
}
.coordPhone {
  width: 20%;
  float: right;
}

.coordEmail,
.coordPhone {
  background-color: #393e463b;
  padding: 1%;
  text-align: center;
  border-radius: 10px;
  border: 1px #0f101048 solid;
}

.filters-outer,
.studentList-outer,
.classPannel-outer {
  height: 55vh;
  border-radius: 10px;
  margin: 0 0%;
  margin-right: 1%;
  padding: 1%;
  border: 1px #00adb5 sold;
  background-color: #393e46;
}

.filters-outer {
  width: 23%;
  margin-left: 0%;
  float: left;
}

.studentList-outer {
  width: 40%;
  float: left;
}

.classPannel-outer {
  width: 33%;
  margin-right: 2%;
  /* margin-right: -2%; */
}

.filters,
.studentList,
.classPannel {
  overflow-y: auto;
  height: 100%;
}

.name-title {
  background-color: #222831;
  border: 1px #00adb5 solid;
  padding: 2%;
  margin: 1% 2%;
  border-radius: 10px;
  color: #00adb5;
}

#arrowDown-btn {
  background-color: transparent;
}

.check-div {
  width: 6%;
  height: 6%;
  float: right;
  margin-left: 5%;
}

.check-img {
  width: 100%;
  height: 100%;
}
.check-div:hover {
  cursor: pointer;
}

.check-div:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.submit-btn {
  background-color: #222831;
  border-radius: 10px;
  padding: 2%;
  float: right;
  border: 1px #00adb5 solid;
  margin: 2%;
  color: #00adb5;
}
.submit-btn:hover {
  background-color: #eeeeee;
  font-weight: bold;
  cursor: pointer;
}

.applied-filter-coord-outer {
  width: 96%;
  height: auto;
  background-color: #222831;
  border-radius: 10px;
  border: 1px #00adb5 solid;
  padding: 0;
  margin: 5% 0;
  margin-bottom: 50%;
  color: #ccc;
}
.applied-filter-coord {
  height: auto;
  padding: 5%;
  padding-top: 15px;
}
.filter-coord {
  width: auto;
  height: 40%;
  padding: 4% 3%;
  margin: 2% 0;
  margin-right: 5%;
  background-color: #393e46;
  border: 1px #00adb5 solid;
  float: left;
  border-radius: 10px;
  padding-bottom: -12%;
}

.cancel-btn-coord {
  height: 15px;
  width: 15px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  float: right;
  margin-left: 15px;
  cursor: pointer;
}

.cancel-img-coord {
  width: fit-content;
  height: fit-content;
  /* height: 100%; */
  margin: 0;
}
