* {
  box-sizing: border-box;
}

.divBdy {
  background-color: #eeeeee;
  margin: 0;
  height: 100vh;
  margin-top: -117px;
}

.filter-panel {
  width: 30%;
  height: 100vh;
  float: left;
  background-color: #393e46;
  color: #00adb5;
  overflow-y: scroll;
  padding: 2%;
  border-right: 2px #00adb5 solid;
}

.institute-panel {
  width: 70%;
  height: 100%;
  float: right;
  background-color: #222831;
  color: #00adb5;
  overflow-y: scroll;
}

.filter-panel::-webkit-scrollbar,
.institute-panel::-webkit-scrollbar {
  display: none;
}

.sort-div {
  background-color: #222831;
  width: 96%;
  /* height: 10%; */
  border-radius: 10px;
  border: 1px #00adb5 solid;
  text-align: left;
  padding: 5%;
  padding-top: 15px;
  margin: 5% 0;
}
.down-btn {
  float: right;
  height: 20px;
  width: 20px;
  background-color: #222831;
  border: none;
  padding: 0;
  cursor: pointer;
}

.downarrow-img {
  width: 100%;
  height: 100%;
}

.sort-menu-list:hover {
  border: 1px #00adb5 solid;
  padding: 10px;
  border-radius: 10px;
  background-color: #393e46;
  cursor: pointer;
}

.filter-div {
  background-color: #222831;
  width: 96%;
  /* height: 10%; */
  border-radius: 10px;
  border: 1px #00adb5 solid;
  text-align: left;
  padding: 5%;
  padding-top: 15px;
  margin: 5% 0;
  margin-bottom: ;

  /* height: 80%; */
}

.filter-name {
  padding: 3%;
  /* border-bottom: 1px #393e46 solid; */
}

.check-filter {
  margin: 5%;
}

.check-filter:hover {
  background-color: #222831;
}

.check-filter {
  height: 15px;
  width: 15px;
  background-color: #393e46;
}

.check-filter:hover input {
  background-color: #ccc;
}

.container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin: 3%;
  /* margin-bottom: 12px; */
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #393e46;
  border: 1px #00adb5 solid;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #00adb5;
}

/* colors used 


#393e46
#222831
#00adb5
#eeeeee */
