* {
  box-sizing: border-box;
}

.divBdy {
  background-color: #eeeeee;
  margin: 0;
  height: 100%;
  margin-top: -117px;
}

.filter-panel {
  width: 30%;
  height: 100%;
  float: left;
  background-color: #393e46;
  color: #00adb5;
  overflow-y: scroll;
  padding: 2%;
  border-right: 2px #00adb5 solid;
}

.institute-panel {
  width: 70%;
  height: 100%;
  float: right;
  background-color: #222831;
  color: #00adb5;
  overflow-y: scroll;
  padding-bottom: 10%;
}

.filter-panel::-webkit-scrollbar,
.institute-panel::-webkit-scrollbar,
.applied-filter::-webkit-scrollbar {
  display: none;
}

.sort-div {
  background-color: #222831;
  width: 96%;
  border-radius: 10px;
  border: 1px #00adb5 solid;
  text-align: left;
  padding: 5%;
  padding-top: 15px;
  margin: 5% 0;
}
.down-btn {
  float: right;
  height: 20px;
  width: 20px;
  background-color: #222831;
  border: none;
  padding: 0;
  cursor: pointer;
}

.downarrow-img {
  width: 100%;
  height: 100%;
}

.sort-menu-list:hover {
  border: 1px #00adb5 solid;
  padding: 10px;
  border-radius: 10px;
  background-color: #393e46;
  cursor: pointer;
}

.filter-div {
  background-color: #222831;
  width: 96%;
  border-radius: 10px;
  border: 1px #00adb5 solid;
  text-align: left;
  padding: 5%;
  padding-top: 15px;
  margin: 5% 0;
}

.filter-name {
  padding: 3%;
}

.check-filter {
  margin: 5%;
}

.check-filter:hover {
  background-color: #222831;
}

.check-filter {
  height: 15px;
  width: 15px;
  background-color: #393e46;
}

.check-filter:hover input {
  background-color: #ccc;
}

.container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin: 3%;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #393e46;
  border: 1px #00adb5 solid;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #00adb5;
}

.applied-filter {
  width: 96%;
  height: 30%;
  background-color: #222831;
  border-radius: 10px;
  border: 1px #00adb5 solid;
  padding: 5%;
  padding-top: 15px;
  margin: 5% 0;
  margin-bottom: 50%;
  color: #ccc;
  overflow-y: scroll;
}

.filter {
  width: auto;
  height: 40%;
  padding: 5%;
  margin: 2% 0;
  margin-right: 5%;
  background-color: #393e46;
  border: 1px #00adb5 solid;
  float: left;
  border-radius: 10px;
  padding-bottom: -12%;
}

.cancel-text {
  float: left;
  /* margin-top: 1%; */
}

.cancel-btn {
  /* height: 20%;
  width: ; */
  height: 80%;
  margin: 0;
  padding: 0;
  /* margin-top: -5%; */
  background-color: transparent;
  border: none;
  float: right;
  /* margin-top: 6px; */
  /* margin-top: -5%; */
  margin-left: 15px;
  /* margin-left: 10px;
  margin-top: 4%; */
  /* margin: 0 10%; */
}

.cancel-img {
  width: fit-content;
  height: 100%;
  margin: 0;
}

/*
 institute flashcard css
*/

.inst-bdy {
  width: 26%;
  height: 60%;
  background-color: #393e46;
  margin: 3.33%;
  float: left;
  padding: 2%;
  border-radius: 15px;
  border: 1px #00adb5 solid;
}

.inst-expnd {
  margin-top: -6%;
  margin-right: -6%;
  margin-bottom: -5%;
}

.btn-expnd {
  /* padding: -1%; */
  float: right;
  height: 24px;
  width: 30px;
  margin-bottom: 5%;
  padding: 0;
  background-color: transparent;
  border: none;
}

.img-expnd {
  height: fit-content;
  width: 100%;
  background-color: transparent;
}

.inst-first {
  background-color: #eeeeee;
  height: 50%;
  border-radius: 8px;
  border: 2px #222831 solid;
  padding: 3%;
  text-align: center;
  color: #222831;
}

.inst-second {
  /* background-color: aliceblue; */
  height: 15%;
  padding: 1%;
}

.inst-third {
  /* background-color: aquamarine; */
  height: 20%;
}

.inst-first,
.inst-second,
.inst-third {
  margin: 4%;
}

.inst-month,
.inst-duration,
.inst-rating {
  /* width: 25%; */
  height: 100%;
  float: left;
  border: 1px #00adb5 solid;
  padding: 2%;
  border-radius: 5px;
  background-color: #222831;
}
.inst-month,
.inst-rating {
  margin-right: 3%;
}

.inst-month {
  margin-left: 1%;
}

.inst-accpt,
.inst-reject {
  width: 45%;

  height: 100%;
}

.inst-accpt {
  float: left;
  margin-left: 3%;
}

.inst-reject {
  float: right;
  margin-right: 3%;
}

.btn-accpt,
.btn-reject {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
}

.btn-accpt {
  background-color: #bef0cb;
}

.btn-reject {
  background-color: #f48484;
}
