* {
  box-sizing: border-box;
}

.divUpper {
  height: 100vh;
  margin: 0;
  width: auto;
  background-color: #222831;
  overflow-y: scroll;
}
.footer {
  width: 100%;
  height: 65%;
  background-color: #393e46;
  margin-top: 40px;
  border-top: 2px #00adb5 solid;
  padding: 20px 40px;

  display: flex;
  flex-direction: row; /* default value; can be omitted */
  flex-wrap: nowrap; /*default value; can be omitted */
  justify-content: space-between;
  color: #00adb5;
}

.footer-right {
  width: 50%;
}

.footer-left {
  width: 50%;
}

.media-left {
  width: 15%;
  float: left;
  padding-top: 5px;
  margin-left: 7%;
}
.media-right {
  width: 75%;
  float: right;
}

.center {
  margin-bottom: 2%;
  font-size: medium;
  font-weight: bold;
  color: #eeeeee;
  border-bottom: 1px #eeeeee solid;
}
/* .footer-left {
  margin-bottom: 10px;
  width: 30%;
}

.footer-right {
  margin-bottom: 10px;
  width: 50%;
  height: auto;
}*/

.mediaLogo {
  width: 5%;
  height: 5%;
  margin-right: 20px;
}

.address,
.media-left {
  color: #eeeeee;
}

.follow,
.links {
  font-weight: bold;
}

.link:hover {
  color: #eeeeee;
}

a:visited,
a:active,
a:hover,
a:link {
  color: #00adb5;
  text-decoration: none;
}

.div-text-upper {
  width: 45%;
  height: 70%;
  background-color: #393e46;
  border-radius: 25px;
  float: left;
  margin-left: 5%;
  margin-top: 5%;
  border: 2px #1a1919 solid;
  color: #dcdcdc;
  padding: 1%;
  text-align: justify;
}
.div-text {
  /* padding: 1%; */
  height: 100%;
  overflow-y: auto;
  /* background-color: #dcdcdc; */
  margin: 0;
  mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 17px, black 17px);
  mask-size: 100% 20000px;
  mask-position: left bottom;
  -webkit-mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 17px, black 17px);
  -webkit-mask-size: 100% 20000px;
  -webkit-mask-position: left bottom;
  transition: mask-position 0.3s, -webkit-mask-position 0.3s;
}

.div-text:hover {
  -webkit-mask-position: left top;
}

.div-img {
  width: 40%;
  height: 80%;
  float: right;
  background-color: #393e46;
  margin-right: 5%;
  margin-bottom: 5%;
  padding: 2%;
  padding-bottom: 7%;
  border: 2px #1a1919 solid;
  border-top: none;
}

.btn-learnMore {
  width: 20%;
  height: 15%;
  margin-top: 2%;
  border-radius: 8px;
  background-color: #222831;
  border: 1px #00adb5 solid;
  color: #00adb5;
  cursor: pointer;
}

.inner-div {
  width: 100%;
  height: 100%;
  border: 2px #1a1919 solid;
}

.imgWallpaper {
  width: 100%;
  height: 100%;
  width: fit-content;
}

.btn-regIns {
  width: 100%;
  height: 15%;
  margin-top: 2%;
  border-radius: 25px;
  background-color: #222831;
  border: 2px #00adb5 solid;
  color: #00adb5;
  cursor: pointer;
}

.btn-learnMore:hover,
.btn-regIns:hover {
  background-color: #00adb5;
  color: #eeeeee;
  font-weight: bold;
}

.divUpper::-webkit-scrollbar {
  display: none;
}
