* {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  overflow: hidden;
}

.NavBody {
  background-color: #393e46;
  width: 100%;
  height: 100%;
  border-bottom: 2px #00adb5 solid;
  /* make one div at right and one div at left */
  display: flex;
  flex-direction: row; /* default value; can be omitted */
  flex-wrap: nowrap; /* default value; can be omitted */
  justify-content: space-between;
}
.head-title {
  text-align: left;
  padding-left: 0px;
  width: 45%;
  color: #00adb5;

  margin: -10px 0px;
  margin-left: -30%;
  margin-top: 1px;
}

.head-title-2 {
  text-align: left;
  padding-left: 0px;
  width: 45%;
  color: #00adb5;
  float: left;

  margin: -10px 0px;
  margin-right: 48%;
  margin-left: -50%;
  margin-top: 1px;
}

.buttonLogin {
  width: 15%;

  /* make the login button at ceneter of the div */
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-login {
  width: 80%;
  height: 50%;
  border-radius: 25px;
  background-color: #222831;
  border: 2px #00adb5 solid;
  color: #00adb5;
  cursor: pointer;
}

.btn-login:hover {
  background-color: #00adb5;
  color: #eeeeee;
  font-weight: bolder;
}

.logoDiv {
  margin-left: 2%;
  margin-right: -2%;
  padding-top: 20px;
  margin-right: 60px;
  min-width: auto;
  width: 50px;
  height: auto;
}

.logo {
  background-color: transparent;
  width: 100%;
  min-width: 100%;
  height: fit-content;
}

.login-box {
  position: absolute;
  /* margin: 5%; */
  margin-top: 5%;
  margin-right: 2%;
  right: 0;
  height: 70%;
  width: 50%;
  background-color: #eeeeee;
  border-radius: 20px;
  padding: 2%;
  border: 2px #00adb5 solid;
}

.cancel-btn-login {
  cursor: pointer;
  width: 10%;
  height: 8%;
  float: right;
  background-color: transparent;
  border: none;
}

.login-form {
  margin: 10%;
  /* background-color: #393e46; */
  padding: 2%;
}
.login-component {
  padding: 5%;
  width: 95%;
  /* height: 30%; */
  margin: 2%;
  border-radius: 10px;
  border: 2px #00adb5 solid;
}

.login-btn {
  background-color: #00adb5;
  color: #eeeeee;
  font-weight: bold;
  font-size: large;
}

.login-btn:hover {
  color: #00adb5;
  background-color: #eeeeee;
  font-weight: bolder;
  cursor: pointer;
}
