* {
  box-sizing: border-box;
}

.body-inst-home {
  background: #222831;
  background: -webkit-linear-gradient(to top, #222831, #393e46);
  background: linear-gradient(to bottom, #393e46, #00adb5);
  height: 100vh;
  margin: 0;
  width: auto;
  overflow-y: scroll;
}

.head-inst-home {
  text-align: center;
  color: #eeeeee;
}

.content-inst-home {
  text-align: center;
  color: #eeeeee;
  background-color: cyan;
}

.modal-body-inst-home {
  width: 28%;
  height: 50%;
  background-color: #393e46;
  margin: 2%;
  float: left;
  padding: 2%;
  border-radius: 15px;
  border: 1px #00adb5 solid;
  padding-left: 1%;
  padding-right: 1%;
}

.modal-expnd-inst-home {
  margin-top: 2%;
  margin-right: 6%;
  /* margin-bottom: 5%; */
  background-color: plum;
}

.btn-expnd-inst-home {
  /* padding: -1%; */
  float: right;
  height: 24px;
  width: 30px;
  margin-right: 5%;
  margin-bottom: 5%;
  padding: 0;
  background-color: #222831;
  border: none;
  cursor: pointer;
}

.img-expnd-inst-home {
  height: 10%;
  width: 2%;
  margin-left: 98%;
  background-color: #00adb5;
}

.info-home {
  width: 98%;
  margin-top: -4%;
  padding-bottom: 3%;
}

.btn-inst-home {
  background-color: #393e46;
  border: 2px #00adb5 solid;
  color: #00adb5;
  height: 50%;
  font-size: large;
  font-weight: bold;
  margin-left: 40%;
  margin-top: 0%;
  padding-bottom: 1%;
  padding-top: 1%;
  border-radius: 18px;
  padding-left: 3%;
  padding-right: 3%;
}

.expanded-div-inst-home {
  height: 50%;
  width: 50%;
  margin: 0;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: #eeeeee48;
  /* opacity: 0.4; */
  position: absolute;
  padding: 2%;
}

.expnd-cancel-inst-home {
  float: right;
  background-color: #222831;
  width: 4%;
  height: 10%;
  border: 1px #00adb5 solid;
  margin-bottom: 2%;
  cursor: pointer;
}

.expnd-img-inst-home {
  /* width: fit-content; */
  width: 100%;
  height: 100%;
  /* cursor: pointer; */
}

.info-outer-inst-home {
  background-color: #222831;
  width: 70%;
  height: 100%;
  overflow: hidden;
  margin-left: 10%;
  padding: 2%;
  border-radius: 25px;
  border: 2px #00adb5 solid;
}

/* .info {
  height: 100%;
  overflow-y: auto;
} */

.trans-btn {
  background: linear-gradient(to bottom, #393e46, #00adb5);
  border: 2px #393e46 solid;
  font-size: large;
  font-weight: bold;
  margin-left: 42%;
  margin-top: -70px;
  height: 100%;
  overflow-y: auto;
}

.message-inst-home {
  text-align: center;
  color: #eeeeee;
}

.info-inst-home {
  background-color: #222831;
  padding-top: 2px;
  padding-left: 20px;
  margin-top: 2px;
  height: 80vh;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 10%;
  margin-right: 25%;
  overflow-y: scroll;
  mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 17px, black 17px);
  mask-size: 100% 20000px;
  mask-position: left bottom;
  -webkit-mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 17px, black 17px);
  -webkit-mask-size: 100% 20000px;
  -webkit-mask-position: left bottom;
  transition: mask-position 0.3s, -webkit-mask-position 0.3s;
}

.info-inst-home:hover {
  -webkit-mask-position: left top;
}

.content {
  width: 98%;
  padding-bottom: 0%;
  margin: 0%;
  display: block;
  padding-top: 2%;
  padding-bottom: 1%;
  border-bottom: #eeeeee solid;
  color: #eeeeee;
}

.data-inst-home {
  padding-top: 1%;
  color: #eeeeee;
}
