* {
  box-sizing: border-box;
}

.body-inst-home {
  background: #222831;
  background: -webkit-linear-gradient(to top, #222831, #393e46);
  background: linear-gradient(to bottom, #393e46, #00adb5);
  height: 100vh;
  margin: 0;
  width: auto;
  overflow-y: scroll;
}

.head-inst-home {
  text-align: center;
  color: #eeeeee;
}

.content-inst-home {
  text-align: center;
  color: #eeeeee;
}

.btn-inst-home {
  background-color: #393e46;
  border: 2px #00adb5 solid;
  color: #00adb5;
  font-size: large;
  font-weight: bold;
  margin-left: 35%;
}

.trans-btn {
  background: linear-gradient(to bottom, #393e46, #00adb5);
  border: 2px #393e46 solid;
  font-size: large;
  font-weight: bold;
  margin-left: 49%;
  margin-top: -70px;
}

.message-inst-home {
  text-align: center;
  color: #eeeeee;
}

.info-inst-home {
  background-color: #222831;
  padding-top: 2px;
  padding-left: 20px;
  margin-top: 2px;
  height: 80vh;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 10%;
  margin-right: 25%;
  overflow-y: scroll;
}

.content {
  width: 98%;
  padding-bottom: 0%;
  margin: 0%;
  display: block;
  padding-top: 2%;
  padding-bottom: 1%;
  border-bottom: #eeeeee solid;
  color: #eeeeee;
}
