/* this allows us to use % while specifying sizes */
* {
  box-sizing: border-box;
}

.body-reg-inst {
  /* background: #222831;
  background: -webkit-linear-gradient(to top, #222831, #393e46); */
  background: linear-gradient(to bottom, #393e46, #00adb5);
  height: 100vh;
  width: auto;
}

.regHead-inst {
  text-align: center;
  /* background-color: blue; */
  color: #eeeeee;
}

.form-body-inst-up {
  background-color: #222831;
  width: 80%;
  position: absolute;
  top: 30%;
  left: 9%;
  border-radius: 18px;
  padding: 1%;
  height: 68%;
}

.form-body-inst {
  padding: 2% 2%;
  overflow-y: scroll;
  height: 100%;
  margin-left: 6%;
  mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 17px, black 17px);
  mask-size: 100% 20000px;
  mask-position: left bottom;
  -webkit-mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 17px, black 17px);
  -webkit-mask-size: 100% 20000px;
  -webkit-mask-position: left bottom;
  transition: mask-position 0.3s, -webkit-mask-position 0.3s;
}

/* .form-body-inst::-webkit-scrollbar {
  display: none;
} */

.form-body-inst:hover {
  -webkit-mask-position: left top;
}

.head-inst-home {
  color: #eeeeee;
  text-align: left;
  margin-left: -79%;
  text-decoration: underline;
  margin-top: 1%;
  margin-bottom: 1%;
}

.head-inst-home-2 {
  color: #eeeeee;
  text-align: left;
  margin-left: 2.5%;
  text-decoration: underline;
  margin-top: 1%;
  margin-bottom: 1%;
}

.required::before {
  content: " *";
  color: red;
  font-size: 25px;
  font-weight: bold;
  margin-left: 2px;
}

.form-text-inst,
.drop-down-inst,
.btn-inst {
  margin: 1% 0;
  /* 1%implies to top,bottom and 0 to left,right for specifying separately format is tbrl */
  width: 36%;
  margin-left: 2%;
  padding: 1%;
  border-radius: 6px;
  /* background: transparent; */
}

.form-text-inst2 {
  margin: 1% 0;
  /* 1%implies to top,bottom and 0 to left,right for specifying separately format is tbrl */
  width: 36%;
  margin-left: 2%;
  padding: 1%;
  border-radius: 6px;
}

.field1 {
  width: 84%;
}

.field2 {
  width: 41%;
}

.field3 {
  width: 19.42%;
}

.field4 {
  width: 10%;
}

.field5 {
  width: 22.5%;
}

.field6 {
  width: 41%;
  /* float: right; */
}

.field7 {
  width: 12%;
  padding: 6%;
  border-radius: 6px;
  background-color: #eeeeee;
  margin-left: 20%;
  color: #eeeeee;
}

.field8 {
  width: 41.5%;
  height: 28px;
  float: right;
  margin-top: -3.1%;
  margin-right: 13%;
}

/* .field9 {
  width: 41%;
  margin-top: 3.1%;
  margin-left: -10%;
  /* float: right; */
/* background-color: #00adb5;
 } */

.btn-inst {
  margin-left: 4%;
}

.btn-inst0 {
  margin-left: 27%;
}

.btn-inst,
.btn-inst0,
.btn-inst1 {
  background-color: #393e46;
  border: 2px #00adb5 solid;
  color: #00adb5;
  font-size: large;
  font-weight: bold;
}

.btn-inst:hover,
.btn-inst0:hover,
.btn-inst1:hover {
  background-color: #00adb5;
  color: #eeeeee;
  font-size: larger;
}

.btn-inst1 {
  margin-left: 10%;
  padding: 1%;
  width: 32%;
  border-radius: 6px;
}

.btn-inst0 {
  padding: 1%;
  width: 32%;
  border-radius: 6px;
}

.btn-inst {
  width: 32%;
}

.guidelines {
  color: #eeeeee;
  font-size: x-small;
  font-style: oblique;
  width: 40%;
  margin-left: 2.8%;
  margin-top: -2%;
  margin-bottom: 2%;
  /* background-color: #00adb5; */
}

.box {
  /* float: right; */
  width: 100%;
  height: 18%;
  margin-bottom: 2%;
}

.phone {
  width: 41%;
  border-radius: 6px;
  height: 28px;
  background-color: #eeeeee;
  margin-left: 2.3%;
  padding: 0;
}

.contact {
  height: 40px;
  /* background-color: #00adb5; */
  width: 99%;
}
