* {
  box-sizing: border-box;
}
.coord-people-divUp {
  background: linear-gradient(to bottom, #393e46, #00adb5);
  height: 77vh;
  width: 100%;
  margin: 0;
  padding: 0% 15%;
  overflow-y: auto;
}

.coord-div,
.trainees-div {
  text-align: justify;
  width: 100%;
}
.trainees-div {
  margin-top: 5%;
}

.titleTrainee {
  float: left;
  width: 80%;
}
.create-grp {
  float: right;
  width: 15%;
}
.traineeStrength {
  float: right;
  width: 5%;
}

.coord-name {
  font-size: large;
}

.create-grp {
  background-color: #393e46;
  border-radius: 10px;
  border: 1px #eeeeee solid;
  padding: 1%;
  color: #eeeeee;
}

.create-grp:hover {
  cursor: pointer;
  font-weight: bold;
}

.trainee-tile-div {
  /* background-color: #eeeeee; */
  padding: 2% 15%;
}

.trainee-tile {
  width: 100%;
  border: 1px #00adb5 solid;
  margin: 1%;
  padding: 2% 4%;
  border-radius: 10px;
  background-color: #393e46;
  color: #eeeeee;
}

/* .trainee-tile:hover {
  cursor: pointer;
  background-color: #eeeeee;
  color: #00adb5;
  font-weight: bold;
} */

.check-div-coord,
.expnd-img-coord {
  width: 4%;
  float: right;
  margin-left: 5%;
}

.check-div-coord:hover,
.expnd-img-coord:hover {
  cursor: pointer;
}

.groupNo {
  background-color: #eeeeee;
  border: 2px #00adb5 solid;
  width: 30%;
  height: 40%;
  margin-top: 13%;
  margin-left: 33%;
  padding: 1%;
}

.close-btn-group {
  width: 8%;
  height: 10%;
  float: right;
  border: none;
}

.close-btn-group:hover {
  /* background-color: #393e46;
   */
  border: 1px #00adb5 solid;
  cursor: pointer;
}

.form-group {
  /* background-color: #393e46; */
  width: 100%;
  height: 90%;
  padding: 2% 4%;
}

.titlegroupName {
  margin: 2% 0%;
  color: #00adb5;
  font-size: large;
  font-weight: bold;
}

.grpN-input {
  width: 100%;
  height: 30%;
  border-radius: 10px;
  padding: 1%;
  margin: 2% 0%;
}

.grpN-input:focus,
.grpN-input:active {
  border: 1.5px #00adb5 solid;
}

.grpN-submit {
  width: 100%;
  height: 30%;
  background-color: #00adb5;
  color: #eeeeee;
  border: none;
  border-radius: 10px;
}

.grpN-submit:hover {
  cursor: pointer;
  background-color: #eeeeee;
  color: #00adb5;
  font-weight: bold;
  font-size: medium;
  border: 1.5px #00adb5 solid;
}

.ind-group {
  background-color: #393e46;
  border: 1px #00adb5 solid;
  border-radius: 10px;
  padding: 2%;
  margin: 1% 0;
  width: 100%;
  color: #00adb5;
  font-weight: bold;
}

.check-div-group {
  width: 5%;
  float: right;
  margin-left: 5%;
}

.check-div-group:hover {
  cursor: pointer;
}

.ind-group-up {
  margin: 0% 15%;
}

.mem-name {
  margin-top: 2%;
  color: #eeeeee;
  font-weight: normal;
}

#traineeTileID {
  border: 1px #00adb5 solid;
  background-color: #393e46;
  color: #eeeeee;
}

#traineeTileDivID {
  background-color: #222831;
  border: 1px #00adb5 solid;
}

#group_tile1ID {
  background-color: #393e46;
  color: #eeeeee;
}

.lineCoordName {
  background-color: #393e46;
  opacity: 0.4;
}

.lineGroupName {
  background-color: #393e46;
  opacity: 0.4;
}
