.discUp {
  background: linear-gradient(to bottom, #393e46, #00adb5);
  height: 80vh;
  overflow-y: auto;
  padding: 1%;
}

.announceBox,
.msgsDiv {
  padding: 1%;
  margin: 2% 20%;
}
.announceBox {
  box-shadow: 5px 5px 10px #0f1010;
  background-color: #eeeeee;
  border: 1px #393e46 solid;
  border-radius: 10px;
}

.announceMsg {
  width: 100%;
  border-radius: 10px;
}

.avatar,
.avatarMsg {
  text-align: center;
  width: 6%;
  height: 100%;
  padding: 1.5% 1%;
  border-radius: 50%;
  float: left;
  margin-right: 2%;
  font-size: medium;
  font-weight: bold;
}
.avatar {
  background-color: #393e46;
  color: #eeeeee;
}
.avatarMsg {
  background-color: #eeeeee;
  color: #0f1010;
}
.annMsg {
  float: left;
  margin-top: 1%;
}

.annBtnDiv {
  float: right;
  margin-top: 1%;
  margin-right: 3%;
}

#cancelBtnDisc {
  float: left;
  color: #00adb5;
}

#postBtnDisc {
  float: right;
  background-color: #00adb5;
}

#filled-multiline-flexible1 {
  width: 50vw !important;
  height: 20vh !important;
}

.msgsDiv {
  height: auto;
}

.msgDivUp {
  width: 100%;
  background-color: #393e46;
  margin: 3% 0%;
  height: auto;
  padding: 1%;
  border-radius: 10px;
  border: 1px #0f1010 solid;
  text-align: justify;
}

.senderName {
  font-size: large;
  font-weight: bold;
  color: #00adb5;
}

.senderTime {
  font-size: small;
  color: #0f1010;
}

.msgs {
  padding: 1%;
  font-weight: normal;
  color: #eeeeee;
}
