.main-pro-del {
  background: #222831;
  background: -webkit-linear-gradient(to top, #222831, #393e46);
  background: linear-gradient(to bottom, #393e46, #00adb5);
  height: 100vh;
  overflow-y: scroll !important;
}

.head-pro-del {
  background-color: #eeeeee;
  border-radius: 8px;
  margin-top: 4%;
  width: 60%;
  height: 10%;
  margin-left: 20%;
}

.head-pro-del h3 {
  color: #222831;
}

.desc-pro-del {
  background-color: #222831;
  border: 2px #00adb5 solid;
  color: #00adb5;
  cursor: pointer;
  margin-top: 3%;
  width: 92%;
  margin-left: 4%;
  height: 70%;
}

.div1 {
  background-color: #393e46;
  color: #eeeeee;
  margin-top: 2%;
  margin-left: 2%;
  width: 95%;
  height: 70%;
  border-radius: 8px;
  border: 4px #222831 solid;
}

.div1 h3,
.div1 p {
  margin-left: 3%;
}

.editme {
  background: #222831;
  border: #00adb5 solid;
  border-radius: 6px;
  color: #eeeeee;
  margin-top: 8%;
  margin-left: 45%;
  width: 10%;
  height: 15%;
}

.editme:hover {
  background-color: #00adb5;
}

.div2 {
  background-color: #393e46;
  color: #eeeeee;
  margin-top: 1%;
  margin-left: 2.5%;
  width: 50%;
  height: 70%;
}
