.project-sub-divup {
  height: 74vh;
  overflow-y: auto;
  padding: 1%;
  /* background-color: #222831; */
}

.Nodoc {
  color: #eeeeee;
  border: 1px #00adb5 solid;
  padding: 1%;
  border-radius: 10px;
  background-color: #222831;
  /* font-weight: 100; */
}

.group-delete-detail {
  background-color: #eeeeee;
  border: 2px #00adb5 solid;
  width: 35%;
  height: 50%;
  /* height: auto; */
  margin-top: 13%;
  margin-left: 33%;
  padding: 1%;
}

.docuTitle {
  color: #00adb5;
}

.drop-down-group {
  margin-top: 2%;
  width: 50%;
  height: 35px;
  /* padding: 1%; */
  border-radius: 10px;
  background-color: #eee;
  color: #222831;
  border: 1px #00adb5 solid;
  font-size: medium;
}

.cnfrm-btn {
  display: flex;
  justify-content: center;
}

.cnfrm-yes,
.cnfrm-no {
  flex: 1;
  margin: 1%;
  height: 40px;
  border-radius: 10px;
  margin-top: 2%;
}

.cnfrm-no:hover {
  background-color: #f48484;
}

.cnfrm-yes:hover {
  background-color: #d0f4de;
}

.doc-divUp {
  border: 1px #00adb5 solid;
  padding: 2%;
  border-radius: 10px;
}

.document-tile {
  border: 1px #00adb5 solid;
  margin: 2% 0%;
  padding: 2%;
  border-radius: 10px;
  background-color: #222831;
}

.doc-title-tile {
  color: #00adb5;
  font-weight: bold;
  width: auto;
  /* margin-bottom: 2%; */
  float: left;
}

.doc-title-tile:hover {
  cursor: pointer;
}

.remark-title {
  color: #eee;
  text-decoration: underline;
  margin-bottom: 2%;
}

.remark-text {
  border: 1px #00adb5 solid;
  border-radius: 10px;
  background-color: #393e46;
  padding: 1%;
}

.textarea-div {
  padding: 1%;
}
.textarea-div textarea {
  /* border: 2px #00adb5 solid; */
  border-radius: 10px;
  padding: 1%;
}

.textarea-div textarea:focus,
.textarea-div textarea:active {
  overflow-y: auto;
  outline: none !important;
  border: 2px #00adb5 solid !important;
}

.remark-submit-btn {
  border: 1px #eee solid;
  border-radius: 10px;
  height: 30px;
  padding: 0% 3%;
  background-color: #00adb5;
  color: #eee;
}

.remark-submit-btn:hover {
  font-weight: bold;
  background-color: transparent;
  border: 2px #eee solid;
  cursor: pointer;
  font-size: medium;
}
