* {
  box-sizing: border-box;
}

.body-reg-coord {
  /* background: #222831;
  background: -webkit-linear-gradient(to top, #222831, #393e46); */
  background: linear-gradient(to bottom, #393e46, #00adb5);
  height: 100vh;
  margin: 0;
  width: auto;
}

.regHead-coord {
  text-align: center;
  color: #eeeeee;
}

.form-body-coord-up {
  background-color: #222831;
  width: 50%;
  position: absolute;
  top: 30%;
  left: 25%;
  border-radius: 18px;
  padding: 1%;
  height: 68%;
}

.form-body-coord {
  padding: 2% 5%;
  overflow-y: scroll;
  height: 100%;
  mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 17px, black 17px);
  mask-size: 100% 20000px;
  mask-position: left bottom;
  -webkit-mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 17px, black 17px);
  -webkit-mask-size: 100% 20000px;
  -webkit-mask-position: left bottom;
  transition: mask-position 0.3s, -webkit-mask-position 0.3s;
}

.form-body-coord:hover {
  -webkit-mask-position: left top;
}

.form-text-coord,
/* .drop-down-coord, */
.btn-coord {
  margin: 2% 0;
  /* 1%implies to top,bottom and 0 to left,right for specifying separately format is tbrl */
  width: 70%;
  margin-left: 15%;
  padding: 3%;
  border-radius: 15px;
}
.form-element-coord-pass {
  /* background-color: #00adb5; */
  width: 70%;
  height: 50px;
  /* padding: 3%; */
  background-color: white;
  /* height: 60%; */

  margin: 2% 0%;
  margin-left: 15%;
  border-radius: 10px;
}

.drop-down-coord {
  font-size: medium;
  border: 1px solid rgba(52, 73, 94, 0.1);
  background-color: white;
  margin: 2% 0;
  /* 1%implies to top,bottom and 0 to left,right for specifying separately format is tbrl */
  width: 70%;
  margin-left: 15%;
  padding: 3%;
  border-radius: 15px;
}

.btn-coord {
  background-color: #393e46;
  border: 2px #00adb5 solid;
  color: #00adb5;
  font-size: large;
  font-weight: bold;
}

.btn-coord:hover {
  background-color: #00adb5;
  color: #eeeeee;
  font-size: larger;
  cursor: pointer;
}
