
.main{
  background: linear-gradient(to bottom, #393e46, #00adb5);
  margin:0;
  padding:2%;
  
  }

.main__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: calc(100% - 2 * 1.5rem);
  max-width: 62.5rem;
}

.main__content {
  background-color: #1967d2;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  /* overflow: hidden; */
}
/*
.main__wrapper1{
  height: 15rem;
  position: relative;
  width: 100%;
}*/
.main__bgImage {
  background-image: url(https://gstatic.com/classroom/themes/img_backtoschool.jpg);
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.main__emptyStyles {
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: absolute;
  top: 0;
  width: 100%;
  background-image: radial-gradient(
    25rem 18.75rem ellipse at bottom right,
    #4285f4,
    transparent
  );
}
.main__text {
  position: relative;
  padding: 1.5rem;
}
.main__heading {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 2.75rem;
  color: #fff;

  margin: 0;
}
.main__overflow {
  text-overflow: ellipsis;
  /* overflow: hidden; */
  white-space: nowrap;
  display: block;
}
.main__section {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.75rem;
  color: #fff;
}
.main__wrapper2 {
  color: #fff;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}
.main__code {
  font-weight: 500;
  font-style: normal;
}
.main__announce1 {
  display: flex;
  /* justify-content: center; */
  flex-shrink: 0;
  margin-top: 1rem;
}
/*shambhavi change*/
.main__announcements1 {
  padding: 1rem;
  /* overflow: hidden; */
  margin: -2.4rem;
  margin-left: 6.5rem;
  /* margin-top: 1.5rem; */
}
.main__subText {
  margin-top: 1.5rem;
  color: #807373;
  font-weight: 400;
}
.main__status {
  border: 1.5px solid #dadce0;
  padding: 20px;
  border-radius: 10px;
  width: 10vw;
  height: 15vh;
}
.main__announcementsWrapper1 {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
  0 2px 6px 2px rgba(60, 64, 67, 0.149);
background-color:#eeeeee;
border: 1px solid #00adb5;
border-radius: 0.5rem;
/* overflow: hidden; */
min-height: 4.5rem;
margin-bottom: 1.8rem;
margin-top: 1.5rem;
}

.main__ancContent1 {
  padding: 30px;
  width: 50vw;
  color: rgba(0, 0, 0, 0.549);
}

.main__wrapper1001 {
  display: flex !important;
  cursor: pointer;
  align-items: center;
}
.main__wrapper1001 > * {
  margin-right: 20px;
  background-color: #eeeeee;
}
#filled-multiline-flexible1 {
  width: 50vw !important;
  height: 20vh !important;
}
.main__form1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main__buttons1 {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  margin-top: 20px;
  
}
@media only screen and (max-width: 842px) {
  .main__status {
    display: none;
  }
}
.amt1 {
  background-color: #fff;
  border: 0.0625rem solid #dadce0;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  /* overflow: scroll;*/
  margin-bottom: 0.8rem;
  background-color: #393e46;
}
.amt__top1 {
  display: flex;
  align-items: center;
}
.amt__top1 > * {
  margin-left: 10px;
}
.amt__Cnt1 {
  /* padding: 0.5rem 0;*/
  padding: 0.5rem 0;
}
.amt__txt1 {
  margin: 10px 15px;
 
}
.amt__img1 {
  height: 150px;
  width: 150px;
  object-fit: contain;
  margin-left: 10px;
}

/*.forScroll {
  overflow-y: scroll;
  height:30%;
  width:50vw;
  border: 1px solid black;
  border-bottom:none;
}*/
.forScroll1 {
   overflow-y: scroll;
  /* height: 600px; */
  
  height:80vh;
  width: auto;
  border: 1px solid black;
  border-bottom: red;
} 


.main{
  background: linear-gradient(to bottom, #393e46, #00adb5);

  /* background-color: blue; */
  margin-top: 0;
  /* border: 20px #00adb5 solid; */
  /* padding: 2%; */
  height: 200px;
  /* margin: -8%; */
  /* margin-bottom: 15%; */
  /* overflow: hidden; */
  /* overflow-y: scroll; */
  /* border: 2px #00adb5 solid; */
  padding-bottom: 10%;
  /* padding-top: -10%; */
}



.tr_sender2 {
  height: 10%;
  padding: 1%;
  margin: 1%;
  font-weight: bold;
  font-size: x-large;
  margin-left: 6%;
  margin-top: -5.7%;
  margin-top: -8%;

  color: #00adb5;
}
.tr_date2 {
  height: 10%;
  padding: 1%;
  margin: 1%;
  font-weight: lighter;
  font-size: 80%;
  margin-top: -2.8%;
  margin-left: 6%;
  color: #00adb5;
}
.tr_message2 {
  height: 10%;
  padding: 1%;
  margin: 1%;
  font-weight: bold;
  font-size: large;
  margin-left: 0%;
  color: #eeeeee;
}
.icon_img{
  height:2.5vw;
  width:2.5vw;
 margin-top:2%;
}
#btnTrainee{
  background-color: #00adb5;
}
#btnTrainee:hover {
  background-color: #00adb5;
  color: #eeeeee;
  font-style:italic;
}
#cbtnT{
  color:#00adb5;
  margin-right: 1vw;
}
#cbtnT:hover{
  background-color: #00adb5;
  color: #eeeeee;
  font-style:italic;
}

