* {
  box-sizing: border-box;
}
/* #light {
  background-color: #ecf9ff;
} */
.DivUpper1 {
  background: #222831;
  background: -webkit-linear-gradient(to top, #222831, #393e46);
  background: linear-gradient(to bottom, #393e46, #00adb5);
  /* background-color: #222831; */
  height: 100vh;
  margin: 0px;
  /* overflow-y: scroll; */
}

/* .divLower {
  background-color: #393e46;
  height: 70%;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  margin-top: 4%;
  position: relative;
} */

.btn-form1 {
  text-align: center;
  border-radius: 20px;
  border: 0;
  height: 60px;
  width: 250px;
  margin: 10px 15px;
  /* change*/
  margin-bottom: 15px;
  font-size: x-large;
  background-color: #222831;
  border: 2px #00adb5 solid;
  color: #00adb5;
  margin-left: 25%;
}

.btn-form1:hover {
  background-color: #222831;
  color: #eeeeee;
  font-weight: bolder;
  /* font-style: italic; */
  cursor: pointer;
}

.btn-form2 {
  text-align: center;
  border-radius: 20px;
  border: 0;
  height: 60px;
  width: 250px;
  margin: 10px 15px;
  /* change*/
  margin-bottom: 15px;
  font-size: x-large;
  background-color: #222831;
  border: 2px #00adb5 solid;
  color: #00adb5;
  margin-left: 2%;
}

.btn-form2:hover {
  background-color: #222831;
  color: #eeeeee;
  font-weight: bolder;
  /* font-style: italic; */
  cursor: pointer;
}

/* .body {
  /* padding-top: 0vh; */
/* margin: 0;
  height: 100%;
  color: azure;
  overflow-y: scroll; */
/* } */
/* #main {
  height: 98vh;
} */

.main1 {
  width: 100%;
  height: 100%;
  padding: 160px;
  padding-top: 0px;
  align-content: center;
  background-size: cover;
  color: azure;
  /* overflow-y: scroll; */
}

.regHead1 {
  align-content: center;
  justify-content: center;
  display: flex;
  margin-bottom: 5px;
  font-size: 30px;
  margin-top: -3%;
}

.form-text1,
.form-date1,
.form-email1,
.form-password1 {
  /* width: 250px;
  padding: 20px;*/

  color: black;

  border-radius: 20px;
  border: 1px solid rgba(52, 73, 94, 0.1);
}

input {
  border: 0;
  outline: 0;
  font-size: medium;
}
::placeholder {
  color: black;
}

/* input[file] {
  border: 0 !important;
  color: white;
}
input:focus {
  outline: none !important;
}
.radioGroup {
  font-size: large;
  margin-top: 10px;
  margin-bottom: -10px;
  padding: 10px;
  color: white;
}
input[type="file"]::file-selector-button1 {
  font-family: "Itim", cursive;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: 0;
  background-color: #aeb6bf;
  margin-left: 60px;
  margin-right: 10px;
}
.btn-form1:hover,
input[type="file"]::file-selector-button1:hover {
  opacity: 0.8;
} */
.regForm1 {
  display: table-cell;
  vertical-align: middle;
  /* overflow-y: scroll; */
}
.regBox1 {
  /*display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: table;
  background-color: #222831;
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 15px;
  /* overflow-y: scroll; */
  background-color: #222831;
  width: 80%;
  position: absolute;
  top: 36%;
  left: 9%;
  border-radius: 18px;
  padding: 1%;
  height: 68%;
  margin-top: -3%;
}

.form-element11 {
  /*change*/
  /*justify-content: left;
  display: flex;
  /*margin: auto;
  margin-top: 20px;*/
  margin: 1% 0;
  /* 1%implies to top,bottom and 0 to left,right for specifying separately format is tbrl */
  /* width: 36%;*/
  margin-left: 2%;
  padding: 1%;
  border-radius: 6px;
}

.loginWelcome {
  opacity: 0.7;
  text-align: center;
  color: #f2f4f4;
}
.regHead {
  color: white;
  margin-top: -3%;
}

.signupImg {
  max-width: 100%;
  flex-basis: 40%;
  padding: 0;
  margin-top: auto;
}
.Img {
  width: 500px;
  height: 400px;
  flex-basis: 40%;
  padding: 0;
  margin-top: auto;
}
.img,
.Img {
  border-left: 1px solid rgba(52, 73, 94, 0.1);
}
.img,
.Img,
.regForm1 {
  display: table-cell;
  vertical-align: middle;
}
.drop-down11 {
  /*padding: 20px;*/
  color: black;
  background-color: white;
  /*border-radius: 20px;*/
  border: 1px solid rgba(52, 73, 94, 0.1);
  font-size: medium;
  margin: 1% 0;
  /* 1%implies to top,bottom and 0 to left,right for specifying separately format is tbrl */
  padding: 1%;
  border-radius: 6px;
}
.drop-down11:focus {
  color: black;
  outline: none !important;
}
.drop-down22 {
  /*width: 250px;
  margin-top: 20px;
  padding: 20px;*/
  color: black;
  background-color: white;
  /*border-radius: 20px;*/
  border: 1px solid rgba(52, 73, 94, 0.1);
  font-size: medium;
  margin: 1% 0;
  /* 1%implies to top,bottom and 0 to left,right for specifying separately format is tbrl */

  padding: 1%;
  border-radius: 6px;
}
.drop-down22:focus {
  color: black;
  outline: none !important;
}
/*outer box */
.fam-tech,
.int-drop {
  border: 2px #00adb5 solid;
  width: 40%;

  margin-left: 30%;
  border-radius: 15px;
  padding: 15px;
  background-color: #222831;
  margin-bottom: 5%;
  margin-top: 2%;
}

.drop-first {
  margin: 5px;
}

.container-form {
  display: block;
  position: relative;
  /* padding-left: 10px; */
  /* margin: 1%; */
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 3px;
  /* border-radius: 8px;
  background-color: aquamarine; */
}

/* Hide the browser's default checkbox */
.container-form input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark-form {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;

  border: 1px #00adb5 solid;
}

/* On mouse-over, add a grey background color */
.container-form:hover input ~ .checkmark-form {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-form input:checked ~ .checkmark-form {
  background-color: #00adb5;
}

.option {
  height: 100px;
  overflow-y: scroll;
}

.tech-box-outer {
  /* height: 90px; */
  /* height: 150px; */
  /* height: 100px; */
  height: auto;
  margin-bottom: 2%;
  border: 2px #00adb5 solid;
  width: 40%;
  margin-left: 30%;
  border-radius: 15px;
  background-color: #222831;
}
.tech-box {
  height: 100%;
  padding: 5%;
  padding-top: 15px;
  /* overflow-y: scroll; */
}

.tech {
  width: auto;
  height: auto;
  padding: 1.5%;
  margin: 2% 0;
  margin-right: 5%;
  background-color: #393e46;
  border: 1px #00adb5 solid;
  float: left;
  border-radius: 10px;
  padding-bottom: -12%;
}

.cancel-text-tech {
  float: left;
  padding: 2%;
}

.cancel-btn-tech {
  width: 5%;
  height: 2%;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  float: right;
  margin-left: 5px;
}

.cancel-btn-tech:hover {
  cursor: pointer;
}

.cancel-img-tech {
  width: 100%;
  height: 10%;
  margin: 0;
}

.choose-file1 {
  border: 1px #00adb5 solid;

  text-align: center;
  padding: 0.5%;
  /* border-radius: 22px; */
  border: 0;
  height: 3%;
  /* width: 20%; */
  margin-bottom: 2%;
  margin: 2%;
  margin-top: 0.5%;
  margin-left: 45.5%;
  /* font-size: x-large; */
  background-color: #eeeeee;
  /* border: 2px #00adb5 solid; */
  color: #00adb5;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 10px;
  width: 10%;
  font-size: medium;
}

.choose-file1:hover {
  background-color: #222831;
  color: #eeeeee;
  font-weight: bolder;
  font-style: italic;
  cursor: pointer;
  border: 1px #eeeeee solid;
}

.option::-webkit-scrollbar {
  display: none;
}

.App1 {
  margin: 20px;
  max-width: 300px;
}
.form-body-stu {
  padding: 2% 2%;
  /* margin-bottom: 5%; */
  /* margin-bottom: 0px;
  background-color: #aeb6bf;
  padding-bottom: -10%; */

  overflow-y: scroll;
  height: 100%;

  margin-left: 6%;

  mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 17px, black 17px);
  mask-size: 100% 20000px;

  mask-position: left bottom;
  -webkit-mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 17px, black 17px);
  -webkit-mask-size: 100% 20000px;
  -webkit-mask-position: left bottom;
  transition: mask-position 0.3s, -webkit-mask-position 0.3s;
}

.form-body-stu:hover {
  -webkit-mask-position: left top;
}
.field1 {
  /* 1%implies to top,bottom and 0 to left,right for specifying separately format is tbrl */
  width: 12%;
  margin-left: 2%;
  padding: 1%;
}
.field2 {
  margin-left: 2%;
  width: 22.5%;
}
.field3 {
  margin-left: 2%;
  width: 22.5%;
}
.field4 {
  margin-left: 2%;
  width: 22.5%;
}
.field5 {
  width: 41.5%;
}
/* .field6 {
  width: 22.5%;
} */

.field7 {
  width: 22.5%;
}
.field8 {
  width: 20%;
  margin-left: 2%;
  margin-right: 53%;
  height: 13.3%;
}

.field9 {
  width: 85%;
  margin-left: 2.2%;
}
.field10 {
  width: 27%;
  margin-left: 2%;
  padding: 1%;
  margin-bottom: -2%;
  margin-top: 1%;
}
.field11 {
  width: 90%;
  margin-left: -10%;
  margin-top: -2%;
  padding: 1%;
  margin-bottom: 20%;
  height: 37px;
  padding-bottom: 0%;
  padding-top: 0%;
}
.Sem {
  /* background-color: purple; */
  margin-left: 59%;
  margin-top: -7.2%;
  margin-bottom: 4%;
  margin-right: 6%;
  padding: 4.5%;
  height: 35%;
  width: 38%;
}
/* .field12 {
  width: 22%;
  margin-left: 15%;
  padding: 1%;
} */
.field13 {
  width: 27%;
  margin-left: 2%;
  padding: 1%;
}
/* .field14 {
  width: 22%;
  margin-left: 2%;
  padding: 1%;
} */
.tb1 {
  text-align: center;
  border-radius: 20px;
  border: 0;
  height: 60px;
  width: 250px;
  margin: 10px 15px;
  /* margin-left: 2%; */
  /* change*/
  margin-bottom: 15px;
  font-size: x-large;
  background-color: #222831;
  border: 2px #00adb5 solid;
  color: #00adb5;
  margin-left: 30%;
  margin-top: 0.5%;
}

.tb1:hover {
  cursor: pointer;
  background-color: #222831;
  color: #eeeeee;
  font-weight: bolder;
  /* font-style: italic; */
  cursor: pointer;
}

.head-stud {
  color: #eeeeee;
  text-align: left;
  /* margin-left: -79%; */
  text-decoration: underline;
  margin-top: 1%;
  margin-bottom: 1%;
}

.course {
  /* background-color: aquamarine; */
  height: 20%;
  margin-top: 0;
  margin-bottom: 0;
}

.Academic {
  /* background-color: peru; */
  width: 100%;
  margin-left: 0%;
}

.resume {
  margin-left: -80%;

  /* background-color: #00adb5; */
}
