* {
  box-sizing: border-box;
}
.body-trainee-people {
  background: linear-gradient(to bottom, #393e46, #00adb5);
  height: 100vh;
  overflow-y: auto;
  padding: 2% 20%;
}
.coordDeetsTrainee {
  margin-bottom: 2%;
}

.CoordDetails {
  margin: 0% 2%;
}

.coordNameTrainee {
  font-size: larger;
}

.coordInfo {
  margin: 2% 5% 0% 5%;
}

.coordEmailTrainee,
.coordPhoneTrainee {
  background-color: #393e46;
  width: 45%;
  padding: 1%;
  border-radius: 10px;
  text-align: center;
  color: #00adb5;
  border: 1.5px #222831 solid;
}

.coordEmailTrainee {
  float: left;
}

.coordPhoneTrainee {
  float: right;
}

.traineeTitle {
  float: left;
}
.traineeTitle,
.traineeStrength {
  width: 40%;
}
.traineeStrength {
  float: right;
  text-align: right;
}

.peopleInd {
  /* background-color: aliceblue; */
  margin: 1% 7%;
  padding: 1% 2%;
  background-color: #393e46;
  border: 1px #222831 solid;
  border-radius: 10px;
  color: #eeeeee;
}

.expnd-img-trainee {
  width: 3%;
  float: right;
}

.expnd-img-trainee:hover {
  cursor: pointer;
}
