* {
  box-sizing: border-box;
}
.DivUp1 {
  background: #222831;
  background: -webkit-linear-gradient(to top, #222831, #393e46);
  background: linear-gradient(to bottom, #393e46, #00adb5);
  margin-top: -18.5%;
  border: 2px #00adb5 solid;
  padding: 2%;
  /* background-color: #222831; */
  height: 100vh;
  /* margin: 0px; */
  /* overflow-y: scroll; */
}
.main1 {
  width: 100%;
  height: 20%;
  /* padding: 160px; */
  /* padding-top: 50px; */
  padding: 2%;
  align-content: center;
  background-size: cover;
  color: azure;
  /* overflow-y: scroll; */
  background-color: antiquewhite;
}

.Head1 {
  height: auto;
  /* align-content: center;
  justify-content: center; */
  /* display: flex; */
  margin-bottom: 5px;
  font-size: 30px;
  background-color: aquamarine;
  padding: 2%;
}

.people {
  margin: 2%;
  background-color: azure;
  padding: 2%;
}
.trainee-title {
  background-color: aqua;
  text-align: center;
}
