* {
    box-sizing: border-box;
  }  
  .DivUPro {
    background: #222831;
    background: -webkit-linear-gradient(to top, #222831, #393e46);
    /* background: linear-gradient(to bottom, #393e46, #00adb5); */
    background-color: #222831;
    height: 100vh;
    margin: 0px;
    overflow-y: auto;
  }
    .progress {
    width: 60%;
    height: 20%;
    background-color: #393e46;
    margin: 2%;
    margin-left: 19.8%;
    padding: 2%;
    border-radius: 15px;
    border: 1px #00adb5 solid;
    padding-left: 1%;
    padding-right: 1%;
  }

  .project {
    width: 35%;
    height: 48%;
    background-color: #393e46;
    margin: 2%;
    padding: 2%;
    border-radius: 15px;
    border: 1px #00adb5 solid;
    /* padding-left: 1%; */
    /* padding-right: 1%; */
    overflow-y: scroll;
  }

  .document {
    width: 59%;
    height: 48%;
    background-color: #393e46;
    margin: 2%;
    padding: 2%;
    margin-top: -25%;
    float: right;
    /* margin-left: 50%; */
    border-radius: 15px;
    border: 1px #00adb5 solid;
    padding-left: 1%;
    padding-right: 1%;
    /* overflow-y: auto; */
  }

  .pro {
    padding: 1%;
    margin: 1%;
    margin-left: 25%;
    margin-top: -4%;
    float: left;
    /* border-radius: 15px;
    border: 1px #00adb5 solid; */
  }

  .proName {
    padding: 1%;
    padding-bottom: -1%;
    margin: 10%;
    margin-bottom: -11%;
    margin-left: 23%;
    width: 55%;
    /* border-radius: 15px;
    border: 1px #00adb5 solid; */
  }
  