* {
    box-sizing: border-box;
}

.body {
    background: #222831;
    background: -webkit-linear-gradient(to top, #222831, #393e46);
    background: linear-gradient(to bottom, #393e46, #00adb5);
    overflow-y:scroll;
    height:100vh;
    margin:0;
    width: auto;
}

.form {
    background-color: #222831;
    border-radius: 5px;
    width: 550px;
    margin: 20px auto;
    padding: 20px;
    height: 600px;
    overflow-y: scroll;
}

.form-body {
    text-align: left;
    padding: 20px 10px;
}

.form-body>* {
    padding: 5px;
}

.form__label {
    width: 40%;
}

.form_input {
    width: 60%;
}

.footer {
    text-align: center;
    margin-bottom: 20%;
}